#footer{
  background: #000;
  position: relative;
  color: #fff;
  padding: 0 100px;
  .inner{
    display: flex;
    justify-content: space-between;
    padding: 58px 0;
    .addr-area{
      display: flex;
      flex-direction: column;
      gap: 10px;
      font-weight: 400;
      line-height: 1;
      font-size: 14px;
      
    }
    .logo-area{
      width: 193px;
      display: block;
    }
  }
}
